.header p{
    width: 100%;
    text-align: center;
    padding: 20px;
}
.header img{
    width: 20vw;
    height: 20vw;
    margin: 0 auto;
}
.head{
    height: 100vh;
    position: relative;
    margin-bottom: -20px !important;
}
.explore p{
    padding-top: 25px;
    text-align: center;
}
.explore p span{
    width: 100%;
    padding: 10px 10px 20px;
    font-size: 1.5em;
}
.parallax-container{
    height: auto;
    bottom: -20px;
}
.showcase{
    height: 250px;
    padding: 15px;
    margin: 15px 0;
}
.no-margin{
    margin:0 !important;
}
.work{
    height: auto;
    bottom: -20px;
}